* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: url(images/candy-wallpaper.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;

}

.section-box, .play-board, .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    padding: 20px 20px 25px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    display: none;
}

.select-box header {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #554994;
    color: #554994;
    font-weight: 500;
}

.select-box .title {
    font-size: 20px;
    padding: 10px 0px;
    color: #554994;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #554994;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;

}

.options button:hover {
    transform: scale(0.96);
    color: #554994;
    background: #ffff;
    border: 1px solid #554994;
}

.option button.cupcake {
    margin-right: 6px;
}

.option button.lollipop {
    margin-left : 6px;
}

.play-board {
    display: none;
}
.play-board .details {
    background-color: #ffff;
    border-radius: 5px;
    padding: 6px 4px 6px;
    font-size: large;
}

.details .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #554994;
    border-radius: 5px;
    z-index: 2;
}

.play-board .details .players {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.play-board .details span {
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    cursor: default;
    text-align: center;
    position: relative;
    z-index: 5;
}

.details span:first-child {
     color: #ffff;
}

.play-board .play-area {
    margin-top: 20px;
}

.play-board section {
    display: flex;
}

.play-board section span {
    display: block;
    margin: 2px;
    height: 80px; 
    width: 80px;
    background: #ffff;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    color: #554994;
}

.result-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.result-box .won-text {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won-text p {
    font-weight: 600;
    margin: 0 3px;
}

.result-box .btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.result-box .btn button {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #554994;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}