* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: url(images/candy-wallpaper.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;

}

.select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    padding: 20px 20px 25px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    display: none;
}

.select-box header {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #554994;
    color: #554994;
    font-weight: 500;
}

.select-box .title {
    font-size: 20px;
    padding: 10px 0px;
    color: #554994;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #554994;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;

}

.options button:hover {
    transform: scale(0.96);
    color: #554994;
    background: #ffff;
    border: 1px solid #554994;
}

.option button.cupcake {
    margin-right: 6px;
}

.option button.lollipop {
    margin-left : 6px;
}